<!doctype>
<html>
  <head>
    <meta charset="utf-8" />
    <title>hello world!</title>
    <link href='http://fonts.googleapis.com/css?family=Andika|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="/live.js" type="text/javascript"></script>
  </head>
  <body class="container">
    <div class="row">
      <div class="main_wrapper offset3">
        <header class="main_header"></header>
        <section class="main_content">
          <header class="heading">
            <h1>Typography</h1>
          </header>
          <article>
                <h1>I'm heading 1 / 我是标题党 1</h1>
                <h2>I'm heading 2 / 我是标题党 2</h2>
                <h3>I'm heading 3 / 我是标题党 3</h3>
                <h4>I'm heading 4 / 我是标题党 4</h4>
                <h5>I'm heading 5 / 我是标题党 5</h5>
                <h6>I'm heading 6 / 我是标题党 6</h6>
                <h1 class="small">I'm heading 1 / 我是标题党 1</h1>
                <h2 class="small">I'm heading 2 / 我是标题党 2</h2>
                <h3 class="small">I'm heading 3 / 我是标题党 3</h3>
                <h4 class="small">I'm heading 4 / 我是标题党 4</h4>
                <h5 class="small">I'm heading 5 / 我是标题党 5</h5>
                <h6 class="small">I'm heading 6 / 我是标题党 6</h6>

                <a href="#">aha? Are you a link? / 你是一个链接吗？</a>

                <h2 class="title">Lorem</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor posuere leo ut tincidunt. Morbi a lobortis lacus. Integer quis felis magna. Nulla egestas mattis metus at malesuada. Curabitur auctor purus sit amet lacus vulputate ut pellentesque arcu pulvinar. In egestas purus vel diam mollis ac venenatis est dignissim. Praesent leo felis, tincidunt sit amet mollis eu, ultricies eget purus. Suspendisse sit amet libero enim, in aliquet nibh. In hac habitasse platea dictumst.</p>
                <p>Ut tincidunt facilisis porttitor. Donec vel felis vitae eros venenatis consectetur vitae sit amet purus. Sed vehicula magna eu est iaculis placerat. Morbi nec quam purus. Nam non arcu neque. Nullam non lorem magna, vitae dignissim sem. Suspendisse potenti. Aliquam fermentum nisi eu nisi feugiat ultricies. Morbi varius pellentesque odio, ut porttitor augue fermentum sit amet.</p>
                <p>Vivamus varius urna non dolor rhoncus rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel diam urna. In hac habitasse platea dictumst. Praesent a tempor mauris. Curabitur eget nisi velit. Donec ut sapien purus. Donec ut turpis et erat cursus euismod. Suspendisse tristique, lorem at lacinia convallis, purus erat auctor lectus, ac tincidunt tortor arcu ut tellus. Sed justo tortor, sollicitudin id hendrerit nec, congue nec elit. Pellentesque fermentum lorem ligula. Nullam vitae ante vel sapien mattis feugiat.</p>
              <img src="http://2.bp.blogspot.com/-db2cXQZC-Yc/TcqbVj2_QwI/AAAAAAAAAIA/n2mMkg3s2g4/s1600/article-1268334026140-08AA7608000005DC-522579_636x394.jpg" alt="" />  
                <h2 class="title">假文</h2>
                <p>是功國，岸有馬的求萬思笑如廠技經樂死起分其學覺因子突兒三眾易況自功緊亞業語得結得代保以然為。蘭買才毛只話好們自景業等子素，環連在基一、病華不的生，覺接指外車爸兩年天力多思公？家界文高看鄉我相角裡想害；地充白麼病視研？連人總原市示、許友白裡回面個上……操馬中物個們因議分不驗拿媽不水主？</p>
                <p>萊因河與揚子江，裝一個獵戶；你再不必提心整理你的領結，他會拉，再也不出聲不鬧：并且你有的是可驚的口味，裝一個獵戶；你再不必提心整理你的領結，體魄與性靈，我自身的父母，每逢這樣的遊行，她也何嘗有一天接近過快樂與幸福，我的小彼得，為什麼我不能在你的生前，誰不曾擁著半夜的孤衾飲泣？杭州西溪的蘆雪與威尼市夕照的紅潮，小琴，那美秀風景的全部正像畫片似的展露在你的眼前，只是這無恩的長路，你是不認識你父親的，你便乖乖的把琴抱進你的床去，不但是十分的有趣可愛，並且在他活潑的神情裏我想見了你，像你那謫期的簡淨。明知是自苦的揶揄，彼得，決意不讓無意味的鑼鼓，(一九二五年七月)新近有一天晚上，此外還有不少趣話，單就呼吸單就走道單就張眼看聳耳聽的幸福是怎樣的。因此我想說的話或許還有人聽，我只是悵惘，裝一個農夫，或是我們執事的地方，但我們，你一個人漫遊的時候，你應得躲避她像你躲避青草裡一條美麗的花蛇！今天頭上已見星星的白髮；光陰帶走的往迹，彼得我愛，沒福見著你的父親，彼得我愛，這問的後身便是無限的隱痛；我不能怨，我心裏卻并不快爽；因為不僅見著他使我想起你，但已往的教訓，怎樣她們為怕你起來鬧，卻沒有同樣的碎痕，假如你長大的話，流入涼爽的橄欖林中，誰沒有悵惘？各各不同，我們應得感謝上蒼的是他不可度量的心裁，美慧，那可並不妨事，還不止是難，她們也使我，我問為什麼，或是拜倫那埃及裝的姿態；但最要緊的是穿上你最舊的舊鞋，我怕我只能看作水面上的雲影，他會拉，可以懂得我話裏意味的深淺，我才覺著骨肉的關連？</p>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>
                    Nulla volutpat aliquam velit
                    <ul>
                        <li>Vestibulum laoreet porttitor sem</li>
                        <li>Ac tristique libero volutpat at</li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>                    
                </li>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
            </ul>
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
            </ol>
            <p><em>Lorem</em> ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor posuere leo ut tincidunt. Morbi a lobortis lacus. Integer quis felis magna. Nulla egestas <strong>mattis</strong> metus at malesuada. Curabitur auctor purus sit amet lacus vulputate ut pellentesque arcu pulvinar. In egestas purus vel diam mollis ac venenatis est dignissim. Praesent leo felis, tincidunt sit amet mollis eu, ultricies eget purus. Suspendisse sit amet libero <abbr title="how are you?">enim</abbr>, in aliquet nibh. In hac habitasse platea dictumst.</p>
            <blockquote> 
              <p>是功國，岸有馬的求萬思笑如廠技經樂死起分其學覺因子突兒三眾易況自功緊亞業語得結得代保以然為。蘭買才毛只話好們自景業等子素，環連在基一、病華不的生，覺接指外車爸兩年天力多思公？家界文高看鄉我相角裡想害；地充白麼病視研？連人總原市示、許友白裡回面個上……操馬中物個們因議分不驗拿媽不水主？</p>
            </blockquote>
            <blockquote>
                <p>Ut tincidunt facilisis porttitor. Donec vel felis vitae eros venenatis consectetur vitae sit amet purus. Sed vehicula magna eu est iaculis placerat. Morbi nec quam purus. Nam non arcu neque. Nullam non lorem magna, vitae dignissim sem. Suspendisse potenti. Aliquam fermentum nisi eu nisi feugiat ultricies. Morbi varius pellentesque odio, ut porttitor augue fermentum sit amet.</p>
            </blockquote>
            <code>for</code> statments.
            <h3>example</h3>
<pre>for i in lists:
print i.name</pre>
            <script src="https://gist.github.com/3143786.js"> </script>
          </article>
          <footer>
            <ul class="tags">
              <li><a href="#">#life</a></li>
              <li><a href="#">#typography</a></li>
            </ul>
            <div class="clearfix"></div>
            <section class="date"><p>Mar 09 2012</p></section>
          </footer>
        </section>
        <nav class="main_nav"></nav>
        <footer class="main_footer">
          <p>&copy; <a href="http://youknowmymind.com">hbc</a> 2012</p>
          <p>Look at the stars, look how they shine for you.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
